/* Reset */
*{
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
}

/* Generics */
body{
    padding-top: 100px;
}

/* Color Palette
Orange: #FF6800
Green: #008001
Red: #FF0000
*/


/* Custom Properties */
:root{
--orange: #FF6800;
--green: #008001;
--red:#FF0000;
--xs: 5px;
--sm: 10px;
--md: 20px;
--lg: 30px;
--xl: 40px;
--xxl: 50px;    
}


/* Utilities */
.flex{
    display: flex;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
background-color: var(--orange);
position: fixed;
top: 0;
left:0;
right: 0;
}


main{
    background-color: purple;
}
nav, .symbols{
    width: 25%;
    height: 50px;
    border: 1px dashed blue;
    background-color: #008001;

}

.logo{
    width: 50%;
    height: 50px;
    border: 1px dashed blue;
    background-color: #008001;
}

/* Main */


.flexcard-settings{
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    background-color: gray;
    width: calc(100% / 3 - 15px);
    height: 400px;
    border: 1px dashed blue;
    
}

