/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    padding-top: 100px;
    font-family: sans-serif;
}

li {
    list-style-type: none;
    display: inline;
}

li a {
    text-decoration: none;
    color: currentColor;
    font-weight: bold;
}

/* Color Palette
Orange: #FF6800
Green: #008001
Red: #FF0000
*/

/* Custom Properties */
:root {
    --orange: #ff6800;
    --green: #008001;
    --red: #ff0000;
    --xs: 5px;
    --sm: 10px;
    --md: 20px;
    --lg: 30px;
    --xl: 40px;
    --xxl: 50px;
}

/* Utilities */
.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: var(--orange);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav,
.symbols {
    width: calc(100% / 3);
}

.gender {
    align-items: center;
    gap: 10px;
}

.logo {
    width: calc(100% / 3);
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

.symbols {
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/* Card */

.flexcard-settings {
    flex-wrap: wrap;
    gap: 15px;
}

.card-container {
    width: calc(100% / 3 - 15px);
}

.card {
    background-color: gray;
    border: 1px dashed blue;
    position: relative;
}

.card img {
    max-width: 100%;
    display: block;
}

.card-details p {
    font-weight: lighter;
}

.current-price {
    color: var(--red);
}

.old-price {
    text-decoration: line-through;
}

/* Positioned elements */

.favourite {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px 10px;
}

.favourite:hover .red-ico {
    color: var(--red);
    cursor: pointer;
}

.tag {
    padding: 5px;
    color: white;
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
}

.onlysust {
    background-color: var(--green);
    left: 0px;
    bottom: 20px;
}

.discount {
    background-color: red;
    bottom: 20px;
    left: 0;
}

.sustainable {
    background-color: var(--green);
    left: 50px;
    bottom: 20px;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: white;
    margin-top: 50px;
}

.faq,
.social {
    width: calc(100% / 2);
    height: 50px;
}